<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Web Server Framework</title>
        <style>
            body > div h4 {
                margin-bottom: 20px;
            }
            body > div > div {
                margin-bottom: 20px;
            }
            img {
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            }
        </style>
    </head>
    <body>
        <div>
            <h4>2023 - 1 Computer Network</h4>
            <div>
                <span>20191584</span>
                <span>Sanglim Nam</span>
            </div>
            <img
                src="{{ url_for('static', filename='image/flask-logo.png') }}"
                alt="flask"
            />
        </div>
    </body>
</html>
